
<app-navbar></app-navbar>
<div class="image">
<div class="row">
  <div class="col-md-6">
      <div class="card">
          <div class="text-center">
              <h1 style="color: blue;">Change Password</h1>
              
          </div>
<!-- <div class="container mt-3"> -->
  <form #ChangePasswordForm="ngForm" >

  <small class="text-danger">{{disp_msg}}</small>

  <div class="mb-3">
    <label for="formGroupExampleInput" class="form-label text-black">Enter Username</label>
    <input type="text" class="form-control" required id="userName" name="username" [(ngModel)]="userHelper.userName" #userName="ngModel">
  </div>

  <div class="mb-3">
    <label for="formGroupExampleInput2" class="form-label text-black">Enter Old Password</label>
    <input type="password" required id="oldPassword" name="oldpass" class="form-control" 
    [(ngModel)]="userHelper.oldPassword" #oldPassword="ngModel">
  </div>

  <div class="mb-3">
    <label for="formGroupExampleInput2" class="form-label text-black">Enter New Password</label>
    <input type="password"  required minlength="4" maxlength="10" id="newPassword" name="newpass" class="form-control" 
    [(ngModel)]="userHelper.newPassword" #newPassword="ngModel" 
    [class.is-invalid]="newPassword.invalid && (newPassword.dirty || newPassword.touched)"
    [class.is-valid]="newPassword.valid && (newPassword.dirty || newPassword.touched)">
    <span class="invalid-feedback"
      *ngIf="(newPassword.touched || newPassword.dirty) && newPassword.errors?.['required']">
        New Password is mandatory</span>
    <span class="invalid-feedback"
          *ngIf="(newPassword.touched || newPassword.dirty) && newPassword.errors?.['minlength']">
          Password should be atleast 4  characters</span>
  </div>
 
  
    
    <button type="submit" [class.disabled]="ChangePasswordForm.invalid" (click)="changePassword() " class="btn btn-primary">Submit</button>

</form>

  </div>
  </div>
  </div>
</div>