<div class="container" *ngFor='let job of jobs'>
  <div class="card mt-3">
    <div class="card-header bg-secondary text-white" >
      <h5>{{ job.name }}</h5>
    </div>
    <div class="card-body bg-secondary text-white">
      <p>Role-{{ job.role}}</p>
      <p>Location-{{job.location}}</p>
      <p>Company Name-{{job.company}}</p>
      <p>JobId-{{job.id}}</p>

   
  <div class="container d-flex flex-row justify-content-between ">
    
    <button routerLink="/wishlist" type="button" class="btn btn-primary"  (click)="addToFavorite(job)">Apply Job</button>
    
  </div>
</div>

